* {
  font-family: PingFang SC,Arial,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif !important;
  list-style: none;
  text-decoration: none;
}
.footerlink {
  width: 100%;
  background: #252634;
}

.footerlink .caller {
  background: #01AFC9;
}

.footerlink .caller .center {
  width: 1200px;
  height: 70px;
  line-height: 70px;
  color: #ffffff;
  margin: 0 auto;
  font-weight: 200;
}

.footerlink .caller .center .reply {
  font-size: 18px;
  letter-spacing: 0.4px;
  margin-right: 50px;
}

.footerlink .caller .center .time {
  font-size: 22px;
  letter-spacing: 0.69px;
}

.footerlink .caller .center a .weixin {
  float: right;
  display: inline-block;
  width: 30px;
  margin-top: 20px;
}

.footerlink .banner-center {
  width: 1200px;
  height: 412px;
  padding-top: 62px;
  box-sizing: border-box;
  margin: 0 auto;
  font-size: 16px;
  line-height: 30px;
  font-weight: 200;
}
.footerlink .banner-center .footer-left {
  float: left;
  padding-right: 500px;
}

.footerlink .banner-center .footer-left .company-info {
  opacity: 0.6;
  color: #BFBFBF;
  letter-spacing: 0.5px;
  line-height: 26px;
}
.footerlink .banner-center .footer-left .contact{
  font-size: 22px;
  color: #FFFFFF !important;
  letter-spacing: 0.5px;
}

.footerlink .banner-center .footer-left .logo-image{
  display: block;
}

.footerlink .banner-center .footer-left .logo-image img{
  width: 94px;
  height: 40px;
  margin-right: 10px;
}

.footerlink .banner-center .footer-left .company-info img {
  width: 16px;
  height: 15px;
  margin-right: 4px;
}

.footerlink .banner-center ul {
  float: left;
  padding-right: 80px;
}

.footerlink .banner-center .mobile-concat, .footerlink .banner-center .mobile-copyright {
  display: none;
}

.footerlink .banner-center ul li{
  letter-spacing: 0.89px;
}

.footerlink .banner-center ul li a{
  color: #FFFFFF;
  text-decoration: none;
}

.footerlink .banner-center ul li span{
  display: none;
}

.footerlink .banner-center .official-link {
  float: right;
}

.footerlink .banner-center .official-link a {
  color: #FFFFFF;
  display: block;
  text-decoration: none;
}

@media (min-width: 1124px) and (max-width: 1240px) {
  .footerlink .caller .center {
    width: 1000px;
  }

  .footerlink .banner-center {
    width: 1000px;
  }
  .footerlink .banner-center .footer-left {
    padding-right: 360px;
  }
  .footerlink .banner-center ul {
    padding-right: 20px;
  }
}

@media (min-width: 1024px) and (max-width: 1124px) {
  .footerlink .caller .center {
    width: 900px;
  }

  .footerlink .banner-center {
    width: 900px;
  }
  .footerlink .banner-center .footer-left {
    padding-right: 260px;
  }
  .footerlink .banner-center ul {
    padding-right: 20px;
  }
}

@media screen and (max-width: 1024px) {
  .footerlink {
    height: 470px;
  }
  .footerlink .caller .center {
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding: 0 4%;
  }
  .footerlink .caller .center .reply { 
    font-size: 12px;
    letter-spacing: 0.17px;
  }

  .footerlink .caller .center .time {
    font-size: 14px;
    letter-spacing: 0.2px;
  }
  .footerlink .caller .center a .weixin {
    margin-top: 10px;
  }
  .footerlink .banner-center {
    width: 100%;
    overflow: hidden;
    padding: 4% 5%;
  }

  .footerlink .banner-center .footer-left {
    display: none;
  }

  .footerlink .banner-center ul {
    padding: 0 0 6px 0;
    font-size: 12px;
    color: #FFFFFF;
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    float: none;
  }
  .footerlink .banner-center ul li{
    display: inline-block;
    padding-right: 14px;
  }
  .footerlink .banner-center ul li span{
    padding-left: 16px;
    display: inline-block;
  }

  .footerlink .banner-center .mobile-concat {
    display: block;
    padding: 20px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  }
  .footerlink .banner-center .mobile-concat p {
    margin: 0;
    display: block;
    color: rgba(255, 255, 255, 0.7);
    font-size: 12px;
  }

  .footerlink .banner-center .mobile-copyright {
    display: block;
    padding: 20px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  }

  .footerlink .banner-center .mobile-copyright p {
    margin: 0;
    display: block;
    color: rgba(255, 255, 255, 0.7);
    font-size: 12px;
  }

  .footerlink .banner-center .mobile-concat .company-info {
    margin-top: 10px;
    opacity: 0.7;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    text-align: center;
  }

  .footerlink .banner-center .mobile-concat .company-info img{
    width: 16px;
    height: 14px;
    margin-right: 4px;
  }

  .footerlink .banner-center .official-link {
    float: none;
    font-size: 12px;
    padding: 20px 0;
    opacity: 0.7;
    border-bottom: 1px solid #ffffff;
  }
}




